@model IEnumerable<BuildingManagementProject.Models.Apartment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rooms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Building.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tenant.FirstName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApartmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Building.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tenant.FirstName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ApartmentId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ApartmentId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ApartmentId })
            </td>
        </tr>
    }

</table>
